<div class="notes-container">
  <mat-form-field>
    <input matInput [maxlength]="255" [(ngModel)]="titleModel" placeholder="Title">
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput [maxlength]="1024" [(ngModel)]="contentModel" placeholder="Enter your content">
  </mat-form-field>
</div>
<br />
<button mat-raised-button color="accent" (click)="createNotes()"> Add Note</button>
<br />
<br />
<h2 class="title">List of all notes</h2>
<p *ngFor="let note of notes">
  <mat-card-title> {{ note.title }}</mat-card-title>
  <mat-card> {{ note.content }}</mat-card>
  <br />
  <button mat-raised-button color="accent" (click)="deleteNote(note)"> Delete Note</button>
  <br /><br />
